<div class="offer-admin">
  <div class="offer-card">
    <mat-card-header>
      <div mat-card-avatar class="offer-card-header-image"></div>
      <mat-card-title>Swedish/Aromatherapy Treatment</mat-card-title>
      <mat-card-subtitle>Toronto East</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./dist/assets/images/offer1.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatatnon proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Edit</button>
      <button mat-button>Foo</button>
    </mat-card-actions>
  </div>
</div>
