<div id="app">
  <div class="container">
    <h1>{{ title }}</h1>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">
        <img style="height: 35px;" src="./dist/assets/images/logo.png">
      </a>

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/offer">Offer Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/booking">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
